<div class="pointer-events-none absolute inset-0 -z-10 grid grid-cols-12 gap-x-10">
  <div class="col-span-full lg:col-span-6 xl:col-span-4 border-x border-[#f0edea]"></div>
  <div class="hidden lg:block lg:col-span-6 xl:col-span-4 border-x border-[#f0edea]"></div>
  <div class="hidden xl:block xl:col-span-4 border-x border-[#f0edea]"></div>
</div>
