<template
  x-if="$store.global.slideoverTemplate === 'work' && entry"
  x-data="{
    {# map store to local variables #}
    entry: $store.work.selected,
    loadingIndicator: () => $store.work.loadingIndicator,
    hasPrev: () => $store.work.hasPrev(),
    hasNext: () => $store.work.hasNext(),
    prev: () => $store.work.prev(),
    next: () => $store.work.next(),
    fetchPrev: () => $store.work.fetchPrev(),
    fetchNext: () => $store.work.fetchNext(),
    setLoading: (state) => $store.work.setLoading(state),
    toggleLoading: () => $store.work.toggleLoading(),

    init() {
      this.$watch('$store.work.selected', value => this.entry = value);
    },
  }"
  :key="entry.id"
>

  <article
    class="work-article group/l grid grid-cols-12 w-full max-w-[736px] ml-auto lg:pt-16 lg:max-w-none lg:ml-0 lg:gap-x-10"
    :data-l="loadingIndicator"
  >
    <div class="pointer-events-auto bg-zinc-50 col-span-full pb-16 sm:pt-[152px] md:pb-[72px] lg:pt-0 lg:col-span-7 lg:col-start-5 2xl:pb-24">

      {# Nav #}

      {% include "_includes/slideoverNav" with { context: ["work"] } only %}

      <div class="pt-[160px] space-y-10 sm:pt-0 sm:space-y-14">

        <div class="relative z-10 space-y-10 lg:space-y-0 lg:flex lg:flex-wrap lg:items-start lg:gap-4">

          {# Title #}

          <h2
            x-dialog:title
            x-text="entry.title"
            data-loading-indicator
            class="work-article__title relative font-medium heading3 md:heading1 !leading-none"
            :aria-label="t('{0} project details', [entry.title])"
          ></h2>

          {# Live url #}

          <template x-if="entry.liveUrl">
            <a
              data-loading-indicator
              class="work-article__live-url bg-stone text-black rounded-full py-[6px] pl-3 pr-4 inline-flex gap-x-[7px] items-center transition-colors duration-200 hover:bg-transparent -translate-y-0.5 lg:translate-y-0 lg:mt-1"
              :href="entry.liveUrl"
              target="_blank"
              rel="noopener noreferrer"
              :aria-label="t('View live site, opens in new tab')"
            >
              <span class="rounded-full size-[11px] bg-coral-red mr-[2px]"></span>
              <span class="font-mono text-[13px] leading-normal uppercase" x-text="t('View Live')"></span>
              {{ svg('@webroot/dist/images/icon--external-link.svg', true, true)|attr({ class: "size-3" }) }}
            </a>
          </template>
        </div>

        {# Media #}

        {% include "_includes/work/workArticleMediaGql" only %}

        {# Summary #}

        <template x-if="entry.summary">
          <p
            x-text="entry.summary"
            data-loading-indicator
            class="work-article__summary relative z-10 w-full max-w-[752px]"
          ></p>
        </template>

        {# Tags #}
        <template x-if="entry.techTags.length">
          <div>
            {% include "_includes/tagsGql" only %}
          </div>
        </template>

        {# Meta #}
        {% include "_includes/work/workCardMetaGql" with {
          class: "work-article__meta relative z-10 sm-mono leading-tight",
        } only %}

      </div>
    </div>
  </article>

</template>
