{% extends "_layouts/elements" %}

{% block content %}

  {% if entry is not defined %}
    {% set entry = craft.entries.section('home').one() %}
  {% endif %}

  <div class="col-span-full mb-16">
    <intro-scene></intro-scene>
  </div>

  <div class="col-span-full">
    {% include "_includes/sectionTitleChip.twig" with {
      title: "Case Studies",
      chipLabel: "View All",
      chipLink: url("work"),
      classes: "mb-16",
    } only %}
  </div>

  {% include "_includes/work/workGrid" only %}

{% endblock %}
