{% extends "_layouts/default" %}

{% block content %}

  <div
    x-data
    class="container"
  >
    <div class="pl-32 py-[200px] md:py-[264px] 2xl:pt-[224px] 2xl:pb-[128px]">

      {% include "_includes/langSelect" %}

      <h1 class="font-bold heading5 md:w-full md:max-w-[756px] md:heading2 xl:max-w-none 2xl:heading1">
        {{ entry.heading|nl2br }}
      </h1>

    </div>

    {% include "_includes/workGrid" with { lang: lang, langAlt: langAlt } only %}

  </div>

{% endblock %}
