{% extends "_layouts/default" %}

{% block content %}

  <div
    x-data
    class="container"
  >
    <div class="pt-[200px] pb-[124px] md:pt-[264px] md:pb-[156px] 2xl:pt-[288px] 2xl:pb-[172px]">

      {% include "_includes/langSelect" %}

      <h1 class="heading5 md:w-full md:max-w-[756px] md:heading2 xl:max-w-none 2xl:heading1">{{ entry.heading|nl2br }}</h1>

    </div>

    {% include "_includes/workGrid" with { lang: lang, langAlt: langAlt } only %}

  </div>

{% endblock %}
