{% extends "_layouts/default" %}

{% block content %}

  <div class="col-span-full">
    <div class="pt-56 pb-32 md:py-[264px] 2xl:pt-48 2xl:pb-32">

      {% include "_includes/langSelect" %}

      <h1 class="font-bold heading5 md:w-full md:max-w-[756px] md:heading2 xl:max-w-none 2xl:heading1">
        {{ entry.heading|nl2br }}
      </h1>

    </div>
  </div>

  {% include "_includes/work/workGrid" only %}

{% endblock %}
