<div
  data-name="followerMore1"
	x-data="follower({ speed: 10 })"
	class="hidden fixed lg:block pointer-events-none"
>
  <div x-ref="move" style="transform: translate(0, 0)">
    <div
      class="size-16 rounded-full border border-coral-red -translate-x-1/2 -translate-y-1/2 transition duration-1000 ease-bounce flex items-center justify-center"
      :class="{
        'opacity-0 scale-50': followerType !== 'more',
        'opacity-100 scale-100': followerType === 'more',
      }"
    ></div>
  </div>
</div>

<div
  data-name="followerMore2"
	x-data="follower({ speed: 20 })"
	class="hidden fixed lg:block pointer-events-none"
>
  <div x-ref="move" style="transform: translate(0, 0)">
    <div
      class="size-16 rounded-full bg-coral-red text-white -translate-x-1/2 -translate-y-1/2 transition duration-300 ease-bounce flex items-center justify-center"
      :class="{
        'opacity-0 scale-50': followerType !== 'more',
        'opacity-100 scale-100': followerType === 'more',
      }"
    >
      {# <div class="text-[14px] tracking-wide font-mono font-bold uppercase">More</div> #}
      <svg class="w-12" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 89 46" fill="none"><path fill="#564DB2" d="M89 23S69.077 46 44.5 46 0 23 0 23 19.923 0 44.5 0 89 23 89 23Z"/><ellipse cx="44.708" cy="23.169" fill="#CD9935" rx="17.708" ry="18.169"/><ellipse cx="44.853" cy="23.007" fill="#0E0E20" rx="7.853" ry="8.007"/></svg>
    </div>
  </div>
</div>
