<footer class="container min-h-screenh flex items-center justify-center pl-32">
  <a
    class="font-bold heading5 decoration-from-font decoration-coral-red hover:underline sm:heading3 2xl:heading1"
    href="mailto:huw@huwroberts.dev"
  >
    huw@huwroberts.dev
  </a>
</footer>
