<footer class="container min-h-screenh flex items-center justify-center">
  <a
    class="heading5 sm:heading3 2xl:heading1"
    href="mailto:huw@huwroberts.dev"
  >
    huw@huwroberts.dev
  </a>
</footer>
