<div class="fixed top-0 inset-x-0 z-10 pointer-events-auto pt-8 md:pt-[52px] 2xl:pt-[60px] mix-blend-difference">
  <div class="container">
    <div class="flex justify-end">
      <nav
        aria-label="Main menu"
        class="flex items-center justify-end h-[44px] md:h-14 md:gap-24"
      >
        <a
          x-data
          @click.prevent="$dispatch('open-slideover', { name: 'who' })"
          class="relative font-medium text-[17px] text-white hover:underline md:text-[22px] 2xl:text-[28px]"
          href="#"
        >
          <span class="relative">{{ "Who?"|t }}</span>
        </a>
        <a
          x-data
          @click.prevent="$dispatch('open-slideover', { name: 'sayHello' })"
          class="relative font-medium text-[17px] text-white hover:underline md:text-[22px] 2xl:text-[28px]"
          href="#"
        >
          <span class="relative">{{ "Say hello!"|t }}</span>
        </a>
      </nav>
    </div>
  </div>
</div>
