{% set outlinedLogo = true %}
{% set invertAndBlend = true %}

<header>

  <div class="fixed top-0 inset-x-0 z-20 pointer-events-none pt-8 md:pt-[52px] 2xl:pt-[60px] {% if invertAndBlend %} invert mix-blend-difference {% endif %}">
    <div class="container">
      <a
        href="{{ siteUrl }}"
        aria-label="{{ siteName }} {{ "home"|t }}"
        class="size-[44px] {% if outlinedLogo %} border-[3px] border-black 2xl:border-4 {% else %} bg-black text-white {% endif %} flex items-center justify-center md:size-14 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-1 focus-visible:outline-blue-700"
      >
        {{ svg('@webroot/dist/images/h--logomark.svg', true, true)|attr({ class: 'w-[14px] md:w-[18px]' }) }}
      </a>
    </div>
  </div>

  {% include "_includes/headerNav" only %}

</header>
