{% set langs = craft.app.sites.getAllSites() %}

<ul
  x-data
  class="base-mono flex gap-x-4 mb-8"
>

  {% for lang in langs %}

    {# Set homepage as default #}
    {% set url = lang.getBaseUrl() %}

    {# Entry is defined #}
    {% if entry is defined %}

      {# Check if that entry exists in other locale #}
      {% set otherLocaleEntry = craft.entries.siteId(lang.id).id(entry.id).one() %}

      {% if otherLocaleEntry %}
        {% set url = otherLocaleEntry.url %}
      {% endif %}

    {# Category is defined #}
    {% elseif category is defined %}

      {# Check if that entry exists in other locale #}
      {% set otherLocaleCat = craft.categories.siteId(lang.id).id(category.id).one() %}
      {% if otherLocaleCat %}
        {% set url = otherLocaleCat.url %}
      {% endif %}

    {% endif %}

    {% set locale = craft.app.i18n.getLocaleById(lang.language|slice(0,2)) %}

    <li>
      <a
        href="{{ url }}"
        class="decoration-coral-red decoration-from-font hover:bg-coral-red/20 {% if lang.id == craft.app.sites.currentSite.id %}underline bg-transparent{% endif %}"
      >{{ locale.getDisplayName(locale.id) }}</a>
      {% if not loop.last %}<span> / </span>{% endif %}
    </li>

  {% endfor %}

</ul>
