<div class="size-12 sm:size-14 bg-coral-red text-seabed-indigo rounded-full flex items-center justify-center">
  {{ svg('@webroot/dist/images/h--logomark-alt.svg', true, true)|attr({ class: 'w-10 sm:w-12 h-auto' }) }}
</div>
