 <div class="w-14 flex-shrink-0 flex items-start pt-12">
  <div class="sticky top-12 flex flex-col items-center gap-y-8">
    <div class="size-14 bg-coral-red text-seabed-indigo rounded-full flex items-center justify-center">
      {{ svg('@webroot/dist/images/h--logomark-alt.svg', true, true)|attr({ class: 'w-12 h-auto' }) }}
    </div>

    <div class="flex gap-5 text-vertical">
      <button
        data-follower="hex"
        @click.prevent="$dispatch('slideover-open', { name: 'who' })"
        style="text-orientation: upright"
        class="base-mono uppercase flex flex-col px-4 leading-none text-seabed-indigo rounded-sm group"
      >
        <span
          data-follower="hex"
          class="flex transition-colors duration-300 group-hover:bg-transparent"
          aria-label="About"
        >
          {% for ch in "•about•"|split("") %}
            <span
              data-follower="hex"
              class="transition-transform duration-200 {% if loop.index is even %} group-hover:translate-x-1 {% else %} group-hover:-translate-x-1 {% endif %}"
            >
              {{ ch }}
            </span>
          {% endfor %}
        </span>
      </button>
      <button
        data-follower="hex"
        @click.prevent="$dispatch('slideover-open', { name: 'who' })"
        style="text-orientation: upright"
        class="relative z-10 base-mono uppercase flex flex-col px-4 leading-none text-seabed-indigo rounded-sm group"
      >
        <span
          data-follower="hex"
          class="flex transition-colors duration-300 group-hover:bg-transparent"
          aria-label="Contact"
        >
          {% for ch in "•contact•"|split("") %}
            <span
              data-follower="hex"
              class="transition-transform duration-200 {% if loop.index is even %} group-hover:translate-x-1 {% else %} group-hover:-translate-x-1 {% endif %}"
            >
              {{ ch }}
            </span>
          {% endfor %}
        </span>
      </button>
    </div>
  </div>
</div>
