{# Mobile backdrop #}
<div class="sm:hidden fixed top-0 inset-x-0 h-24 z-10 bg-zinc-50/95 backdrop-blur-sm"></div>

<div class="hidden w-14 sm:block">
  <div class="fixed inset-y-0 z-10 pt-12 space-y-7">
    {% include "_includes/logomark" only %}
    <main-menu>
      <a href="#">Home</a>
      <a style="transition-delay: 30ms" href="#">Portfolio</a>
      <a style="transition-delay: 60ms" href="#">About</a>
      <a style="transition-delay: 90ms" href="#">Journal</a>
      <a style="transition-delay: 120ms" href="#">Contact</a>
    </main-menu>
  </div>
</div>
