{# Mobile backdrop #}
<div class="sm:hidden fixed top-0 inset-x-0 h-24 z-10 bg-zinc-50/95 backdrop-blur-sm"></div>

<div class="sm:hidden sticky top-0 h-24 flex-shrink-0 flex items-center justify-between z-10">
  {% include "_includes/logomark" only %}
  {% include "_includes/nav" only %}
</div>

<div class="hidden sm:block">
  <div class="sticky top-0 w-full h-24 flex-shrink-0 flex items-center justify-between z-10 pt-12">
    {% include "_includes/logomark" only %}
  </div>
  <div class="sticky top-[132px]">
    {% include "_includes/nav" only %}
  </div>
</div>

{# <div class="sticky top-0 w-full h-24 flex-shrink-0 flex items-center z-10 sm:z-auto sm:pt-12 sm:items-start sm:pb-0 sm:w-14">
  <div class="flex flex-row items-center justify-between w-full gap-y-8 sm:sticky sm:top-12 sm:w-auto sm:flex-col">


    {% include "_includes/nav" only %}
  </div>
</div> #}
