{% set content = content ?? null %}

{% if content and content.chunks|length %}
  <div class="space-y-10">
    {% for chunk in content.chunks %}
      {% if chunk.type == 'markup' %}
        {# regular content #}
        <div class="rich-text -post xl:max-w-[calc(100%-371px)]">{{ chunk }}</div>
      {% else %}
        {# entry content (renders _partials/entry/{handle}.twig) #}
        {{ chunk }}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
