{% set fixedContent %}
    <h2
      x-dialog:title
      class="sr-only"
    >Contact me via email</h2>

    {# Email #}
    <a
      href="mailto:huw@huwroberts.dev"
      class="heading0 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-auto hover:underline"
    >
      huw@huwroberts.dev
    </a>

    {# Emoji #}
    <div
      x-data="emoji()"
      @resize.window="handleResize"
      class="absolute top-1/2 left-1/4 mix-blend-difference"
    >
      {{ svg('@webroot/dist/images/icon--wink.svg', true, true)|attr({ class: 'w-[150px] text-white pointer-events-none', 'aria-label': 'winking face emoji' }) }}
    </div>
{% endset %}

<div
  x-data="{
    showSlideover: false,
    handleOpenEvent(event) {
      if (event.detail.name === 'sayHello') {
        this.showSlideover = true
      }
    },
    handleCloseEvent(event) {
      if (event.detail.name === 'sayHello') {
        this.showSlideover = false
      }
    },
  }"
  @open-slideover.window="handleOpenEvent($event)"
  @close-slideover.window="handleCloseEvent($event)"
>
  {% include "_includes/slideover" with {
    showCloseButton: true,
    closeButtonPosition: "right",
    showNav: false,
    navStyle: "icon",
    fixedContent: fixedContent,
  } %}
</div>
