{% set title = title ?? null %}
{% set chipLabel = chipLabel ?? null %}
{% set chipLink = chipLink ?? null %}
{% set classes = classes ?? "" %}

{% if title and chipLabel and chipLink %}

  <div class="flex flex-col items-center gap-y-4 text-center font-mono text-xs uppercase {{ classes }}">
    <h2 class="text-sm uppercase font-mono leading-none">{{ title }}</h2>
    <a
      class="inline-block text-sm uppercase font-mono leading-none rounded-full border border-black px-2.5 py-1.75 transition-colors duration-100 hover:bg-black hover:text-white"
      href="{{ chipLink }}"
    >
      {{ chipLabel }}
    </a>
  </div>

{% endif %}
