{% set entry = craft.entries.section('who').one() ?? null %}

{% if entry %}

  {% set heading = entry.heading ?? null %}
  {% set richText = entry.richText ?? null %}
  {% set tags = entry.techTags.all() ?? [] %}
  {% set image = entry.image.one() ?? null %}

  {% set panelContent %}
    {# <div> #}
      <article class="grid grid-cols-12 pt-32 w-full max-w-[736px] ml-auto lg:pt-16 lg:w-4/5 lg:max-w-none xl:w-auto xl:ml-0 xl:gap-x-16">
        <div class="pointer-events-auto bg-zinc-50 col-span-full pb-16 md:pb-[72px] 2xl:pb-24 xl:col-span-7 xl:col-start-5 xl:grid xl:grid-cols-subgrid">

          <div class="col-span-full md:col-span-4 xl:h-full xl:col-span-6">
            <div class="space-y-8 sm:space-y-12">
              <div class="relative z-10 sm-mono leading-none flex items-center gap-x-4">
                {# Back to work / close slideover #}
                <button
                  @click="showSlideover = false"
                  class="flex items-baseline gap-x-2 hover:bg-coral-red/20"
                >
                  {{ svg('@webroot/dist/images/icon--arrow-left.svg', true, true)|attr({ class: 'w-auto h-[9px] flex-shrink-0' }) }}
                  <span>{{ "Work"|t }}</span>
                </button>
              </div>

              {% if heading %}
                <h2
                  x-dialog:title
                  class="relative z-10 font-medium heading1 leading-none md:w-4/5 xl:w-auto"
                >{{ heading }}</h2>
              {% endif %}

              {% if image %}
                <div class="relative z-10 aspect-square sm:aspect-[764/350]">
                  {% include "_includes/picture" with {
                    image: image,
                    mode: "crop",
                    classes: "object-cover w-full h-full opacity-25",
                    pictureSets: [
                      { "640": [764, 350] },
                      { "default": [362, 362] },
                    ],
                  } only %}
                </div>
              {% endif %}

              {% if richText %}
                <div class="relative z-10 sm-sans sm:heading5 sm:!font-medium ckeditor -simple">{{ richText }}</div>
              {% endif %}

              {# Tags #}
              {% if tags %}
                <div class="relative w-full max-w-[752px] md:w-4/5 xl:w-auto">
                  {% include "_includes/tags" with { tags: tags } only %}
                </div>
              {% endif %}
            </div>
          </div>

        </div>
      </article>
    {# </div> #}
  {% endset %}

  <div
    x-data="{
      showSlideover: false,
      handleOpenEvent(event) {
        if (event.detail.name === 'who') {
          this.showSlideover = true
        }
      },
      handleCloseEvent(event) {
        if (event.detail.name === 'who') {
          this.showSlideover = false
        }
      },
    }"
    @slideover-open.window="handleOpenEvent($event)"
    @close-slideover.window="handleCloseEvent($event)"
  >
    {% include "_includes/slideover" with {
      showCloseButton: true,
      closeButtonPosition: "right",
      showNav: false,
      panelContent: panelContent,
    } %}
  </div>

{% endif %}
