{% set entry = craft.entries.section('who').one() ?? null %}

{% if entry %}

  {% set heading = entry.heading ?? null %}
  {% set richText = entry.richText ?? null %}
  {% set tags = entry.techTags.all() ?? [] %}
  {% set image = entry.image.one() ?? null %}

  {% set panelContent %}
    {# <div> #}
      <article class="grid grid-cols-12 space-y-16 pt-[186px] w-full max-w-[736px] ml-auto lg:w-4/5 lg:max-w-none xl:w-auto xl:ml-0 xl:gap-x-16">
        <div class="pointer-events-auto bg-zinc-50 col-span-full pb-16 md:pb-[72px] 2xl:pb-24 xl:col-span-7 xl:col-start-5 xl:grid xl:grid-cols-subgrid">
            <div class="col-span-full flex flex-col justify-between md:col-span-4 xl:h-full xl:col-span-6">
              {% if heading %}
                <h2 x-dialog:title class="sr-only">About me</h2>
                <h2
                  aria-hidden="true"
                  class="relative z-10 font-bold heading1 mb-16 md:w-4/5 xl:w-auto"
                >{{ heading }}</h2>
              {% endif %}

              <div class="flex flex-col gap-y-16 md:block xl:flex">
                {% if richText %}
                  <div class="relative z-10 heading5 md:heading4 font-medium ckeditor -simple md:w-4/5 xl:w-auto">{{ richText }}</div>
                {% endif %}

                {% if image %}
                  <div class="relative z-10 md:!-mt-32 md:flex md:justify-end xl:hidden">
                    {% include "_includes/picture" with {
                      image: image,
                      mode: "crop",
                      classes: "opacity-25",
                      pictureSets: [
                        { "default": [480, 700] },
                      ],
                    } only %}
                  </div>
                {% endif %}

                {# Tags #}
                {% if tags %}
                  <div class="relative w-full max-w-[752px] md:w-4/5 md:!-mt-32 xl:w-auto xl:!mt-0">
                    {% include "_includes/tags" with { tags: tags } only %}
                  </div>
                {% endif %}
              </div>
            </div>

            <div class="hidden xl:block col-span-full xl:col-span-4">
              {% if image %}
                {% include "_includes/picture" with {
                  image: image,
                  mode: "crop",
                  classes: "opacity-25",
                  pictureSets: [
                    { "default": [480, 700] },
                  ],
                } only %}
              {% endif %}
            </div>
        </div>
      </article>
    {# </div> #}
  {% endset %}

  <div
    x-data="{
      showSlideover: false,
      handleOpenEvent(event) {
        if (event.detail.name === 'who') {
          this.showSlideover = true
        }
      },
      handleCloseEvent(event) {
        if (event.detail.name === 'who') {
          this.showSlideover = false
        }
      },
    }"
    @slideover-open.window="handleOpenEvent($event)"
    @close-slideover.window="handleCloseEvent($event)"
  >
    {% include "_includes/slideover" with {
      showCloseButton: true,
      closeButtonPosition: "right",
      showNav: false,
      panelContent: panelContent,
    } %}
  </div>

{% endif %}
