{% set showWorkNav = showWorkNav ?? false %}

{# For grid layout #}
{% set panelContent = panelContent ?? null %}

{# For fixed layout relative to slidover fill #}
{% set fixedContent = fixedContent ?? null %}

{# Slideover #}
<div
  x-dialog
  x-model="showSlideover"
  x-data="{
    close() {
      this.$dialog.close()
    }
  }"
  x-init="() => {
    $watch('showSlideover', (state) => {
      if (!state) {
        $dispatch('slideover-close')
      }
    })
  }"
  @click.away="close()"
  style="display: none"
  class="fixed inset-0"
>
  {# Backdrop overlay #}
  <div
    x-dialog:overlay
    x-transition.opacity.duration.500ms
    class="hidden md:block fixed inset-0 bg-[#eee] bg-opacity-90 backdrop-blur-[3px]"
  ></div>

  {# Panel background (white fill) #}
  <div
    class="fixed inset-y-0 inset-x-0 bg-zinc-50 md:left-auto md:right-0 md:w-[var(--panel-w)] 3xl:w-[var(--3xl-panel-w)]"
    x-show="showSlideover"
    x-transition:enter="transition duration-500 ease-out"
    x-transition:enter-start="translate-x-16 md:translate-x-8 opacity-0"
    x-transition:enter-end="md:translate-x-0 opacity-100"
    x-transition:leave="transition duration-200 ease-in"
    x-transition:leave-start="translate-x-0 opacity-100"
    x-transition:leave-end="translate-x-16 md:translate-x-8 opacity-0"
  ></div>

  {# Panel #}
  <div
    x-dialog:panel
    aria-live="polite"
    class="fixed inset-y-0 right-0 w-[var(--panel-w)] 3xl:w-[var(--3xl-panel-w)]"
  >
    {% if panelContent %}
      <div
        data-name="slidover-panel-content"
        x-ref="panel-content"
        x-show="showSlideover"
        x-transition:enter="transition duration-500 ease-out"
        x-transition:enter-start="translate-x-4 md:translate-x-2 opacity-0"
        x-transition:enter-end="md:translate-x-0 opacity-100"
        x-transition:leave="transition duration-300 ease-in"
        x-transition:leave-start="translate-x-0 opacity-100"
        x-transition:leave-end="translate-x-4 md:translate-x-2 opacity-0"
        class="absolute inset-0 overflow-auto -ml-[var(--panel-away-w)] 3xl:-ml-[calc(100vw-var(--3xl-panel-w))]"
      >
        {% include "_includes/followers/followerDotSlideover" only %}
        <div class="container">{{ panelContent }}</div>
      </div>
    {% endif %}

    {% if fixedContent %}
      <div
        data-name="slidover-fixed-content"
        x-show="showSlideover"
        x-transition.opacity.duration.500ms
        aria-live="polite"
        class="absolute inset-0 bg-white pointer-events-none -ml-[var(--panel-away-w)] md:ml-0"
      >
        {% include "_includes/followers/followerDotSlideover" only %}
        {{ fixedContent }}
      </div>
    {% endif %}

  </div> {# /Panel #}

  {# Click away region #}
  <div
    @click="$dialog.close()"
    class="fixed left-0 inset-y-0 w-[var(--panel-away-w)] 3xl:w-[var(--3xl-panel-away-w)]"
  ></div>

</div> {# /Slideover #}
