{% set showWorkNav = showWorkNav ?? false %}

<div class="container py-2">
  <div class="grid grid-cols-12 lg:gap-x-10">
    <div class="relative lg:col-span-7 lg:col-start-5">
      <div class="inset-x-0 flex justify-between sm-mono relative z-50">
        <button
          @click="$dialog.close();"
          @keydown.escape.window="$dialog.close()"
          class="pointer-events-auto"
        >
          Close
        </button>

        {% if showWorkNav %}
          <section class="flex items-center gap-x-4">
            <button
              class="pointer-events-auto"
              :class="{ 'pointer-events-none line-through': !hasPrev() }"
              :tabindex="hasPrev() ? 0 : -1"
              aria-label="Previous project"
              @click="prev()"
              @keydown.left.window="wrapKeyDown($event, () => showSlideover && prev())"
            >
              {{ "Prev"|t }}
            </button>

            <span class="w-px h-5 bg-zinc-100 mt-px"></span>

            <button
              class="pointer-events-auto"
              :class="{ 'pointer-events-none line-through': !hasNext() }"
              :tabindex="hasNext() ? 0 : -1"
              aria-label="Next project"
              @click="next()"
              @keydown.right.window="wrapKeyDown($event, () => showSlideover && next())"
            >
              {{ "Next"|t }}
            </button>
          </section>
        {% endif %}
      </div>
    </div>
  </div>
</div>

