{% set tag = tag ?? null %}

{% if tag %}

  <li class="font-sans font-medium h-[45px] text-base bg-black text-white rounded-full flex items-center justify-center px-5 whitespace-nowrap flex-shrink-0 md:font-bold md:px-6 md:text-[18px] md:h-14">
    {{ tag }}
  </li>

{% endif %}
