{% set type = type.one() ?? null %}
{% set isAgency = false %}
{% set agencyTitle = null %}
{% set agencyUrl = null %}

{# Safe to use slug because it is not translatable #}
{% if type.slug == "agency" %}
  {% set isAgency = true %}
  {% set agency = agency.one() ?? null %}

  {% if agency %}
    {% set agencyTitle = agency.title %}
  {% endif %}
{% endif %}

{% set year = year ?? null %}


{% if type and year and ((isAgency and agencyTitle) or not isAgency) %}

  <div class="base-mono">
    <p>
      <span>{{ "Type"|t }}: {{ type }}</span>
      {% if isAgency %}
        <span>
          ({{ agencyTitle }})
        </span>
      {% endif %}
    </p>
    <p>{{ year }}</p>
  </div>

{% endif %}

