{% extends '_layouts/default.twig' %}

{% block content %}

  <div class="col-span-full">
    <test-scene class="w-full h-screen [--test-scene-color:var(--color-coral-red)]"></test-scene>
    <div class="w-full h-screen grid place-content-center">
      <div><a href="/">home</a></div>
    </div>
    <test-scene class="w-full h-screen [--test-scene-color:var(--color-seabed-indigo)]"></test-scene>
  </div>

{% endblock %}

