{% extends '_layouts/elements.twig' %}

{% block content %}

  {# == scenes are squished - need to fix using whatever that trick is.. == #}

  <div class="w-full h-screen" id="scene1"></div>
  <div class="w-full h-screen grid place-content-center">
    <div>Some other content</div>
  </div>
  <div class="w-full h-screen" id="scene2"></div>

{% endblock %}

