{% extends '_layouts/elements.twig' %}

{% block content %}
  <div class="w-full h-screen" id="scene1"></div>
  <div class="w-full h-screen grid place-content-center">
    <div>Some other content</div>
  </div>
  <div class="w-full h-screen" id="scene2"></div>
{% endblock %}

