{% extends "_layouts/base" %}

{% set gridLinesVariant = gridLinesVariant ?? "full" %}

{% block base %}

  <div id="top"></div>

  {% include "_includes/followers/followerDot.twig" only %}
  {# {% include "_includes/followers/followerHex.twig" only %} #}

  <div class="container flex lg:gap-x-10">

    {% include "_includes/obi" only %}

    <div class="relative h-screen grow">

      <scene-canvas class="sm-down:w-screen sm-down:-ml-6"></scene-canvas>

      <div class="absolute top-0 w-full grid grid-cols-12 lg:gap-x-10">
        {% block content %}{% endblock %}
        {% include "_includes/footer" only %}
        {% include "_includes/decor/gridDecor.twig" with { variant: gridLinesVariant } only %}
      </div>

    </div>

  </div>

  {% include "_includes/followers/followerMore.twig" only %}

{% endblock %}
