<!DOCTYPE html>
<html
	class="no-js"
  lang="{{ currentSite.language }}"
  dir="{{craft.app.i18n.getLocaleById(currentSite.id).getOrientation()}}"
>
  <head>
    <style>
      [x-cloak] { display: none !important; }
      [data-follower] { cursor: none; }
    </style>
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="origin-when-cross-origin" />
    <title>{{ siteName }}</title>
    {% include "_includes/scripts.twig" %}
  </head>

  {% set lang = currentSite.language %}
  {% set langAlt = lang == "en-GB" ? "cy-GB" : "en-GB" %}

  {% block bodyTag %}
 		<body
      x-data="core()"
      class="relative flex flex-col min-h-screenh antialiased bg-white"
    >
      <a class="skip-link" href="#main" tabindex="1">{{ "Skip to content"|t }}</a>
  {% endblock %}

    {% include "_includes/followerDot" only %}
    {% include "_includes/followerHex" only %}
    {% include "_includes/headerNav" only %}

    <main id="main">{% block content %}{% endblock %}</main>

    {% include "_includes/footer" only %}
    {% include "_includes/followerMore" only %}
    {% include "_includes/workArticles" only %}
    {% include "_includes/who" only %}
    {% include "_includes/sayHello" only %}

    {% include "_includes/fixedLogomark" only %}
  </body>
</html>
