{% extends "_layouts/base" %}

{% block base %}

  <div id="top"></div>

  <div x-data="canvas()">
    <canvas x-ref="canvas" class="pointer-events-none fixed inset-0" aria-hidden="true"></canvas>
  </div>

  {% include "_includes/followers/followerDot" only %}
  {% include "_includes/followers/followerHex" only %}
  {% include "_includes/decor/starflower" only %}

  <div class="container flex flex-col gap-x-[68px] sm:flex-row">

    {# Obi #}
    {% include "_includes/obi" only %}

    {# Grid #}
    <div class="relative flex-grow grid grid-cols-12 lg:gap-x-10">
      {% block content %}{% endblock %}
      {% include "_includes/footer" only %}
      {% include "_includes/decor/gridDecor" only %}
    </div>

  </div>

  {% include "_includes/followers/followerMore" only %}
  {# {% include "_includes/work/workArticles" only %} #}
  {# {% include "_includes/slideoverAbout" only %} #}

{% endblock %}
