{% extends "_layouts/base" %}

{% block base %}

  <div id="top"></div>

  <div x-data="canvas()">
    <canvas x-ref="canvas" class="pointer-events-none fixed inset-0" aria-hidden="true"></canvas>
  </div>

  {% include "_includes/followers/followerDot" only %}
  {% include "_includes/followers/followerHex" only %}
  {% include "_includes/decor/starflower" only %}

  <div class="container flex flex-col gap-x-[68px] sm:flex-row">

    {# Obi #}
    {% include "_includes/obi" only %}

    {# Grid #}
    <div class="relative flex-grow grid grid-cols-12 lg:gap-x-10">
      {% block content %}{% endblock %}
      {% include "_includes/footer" only %}
      {% include "_includes/decor/gridDecor" only %}
    </div>

  </div>


  {% include "_includes/followers/followerMore" only %}
  {% include "_includes/slideover2" only %}

  {# {% include "_includes/work/workArticles" only %} #}
  {# {% include "_includes/slideoverAbout" only %} #}

  <div class="fixed inset-x-0 bottom-0 p-8 flex gap-2 font-mono">
    <button @click="$store.global.slideoverOpen = true" class="bg-slate-500 text-white text-sm p-2 rounded-sm">Open Slideover</button>
  </div>

{% endblock %}
