<mouse-follower class="fixed group hidden lg:block" speed="15">
  <div
    class="size-4 -translate-x-1/2 -translate-y-1/2 transition duration-100 ease-in-out rounded-full bg-coral-red group-data-hot:opacity-0"
  ></div>
</mouse-follower>
