<mouse-follower class="group hidden lg:block z-10" speed="20">
  <div
    class="size-12 -translate-x-1/2 -translate-y-1/2 transition duration-300 ease-bounce flex items-center justify-center opacity-0 scale-50 group-data-[active=hex]:opacity-100 group-data-[active=hex]:scale-100"
  >
    <svg class="animate-spin-slow size-64 text-coral-red" viewbox="0 0 88 100" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M44 0L87.3013 25V75L44 100L0.69873 75V25L44 0Z" fill="currentColor"/>
    </svg>
  </div>
</mouse-follower>
