{% extends "_layouts/base" %}

{% block base %}

  <div class="fixed inset-0 flex items-center justify-center" style="perspective: 15px">
    <div
      class="size-64 rounded-full border-8 border-green-600"
    ></div>
  </div>

{% endblock %}
