{% extends "_layouts/elements" %}

{% set gridLinesVariant = "outer" %}

{% block content %}

  {% set featureVideo = entry.featureVideo ?? null %}
  {% set featureImage = entry.imageCaption ?? null %}
  {% set summary = entry.summaryShort ?? null %}
  {% set liveUrl = entry.liveUrl ?? null %}
  {% set richTextPost = entry.richTextPost ?? null %}

  <div class="col-span-full grid grid-cols-subgrid">
    <div class="col-span-full lg:col-start-2 lg:col-span-9 pt-36">
      <div class="space-y-28">
        {% include "_includes/breadcrumb" with {
          links: [
            {
              label: "Home",
              url: siteUrl,
            },
            {
              label: "Case Studies",
              url: "/work",
            },
            {
              label: entry.title,
              url: "",
            }
          ]
        } only %}

        <h1 class="heading1 font-medium mb-16">{{ entry.title }}</h1>

        {% if featureVideo and featureVideo.videoCaption and featureVideo.videoCaption.videoAsset.one() %}

          {% set caption = featureVideo.videoCaption.text ?? null %}

          <div class="space-y-4">
            {% include "_includes/featureVideo.twig" with {
              featureVideo: featureVideo,
              title: entry.title,
            } only %}

            {% if caption %}
              <div class="text-sm text-zinc-500 italic">{{ caption }}</div>
            {% endif %}
          </div>

        {% elseif featureImage and featureImage.imageAsset.one() %}

          <div class="space-y-4">
            {% include "_includes/featureImage.twig" with {
              featureImage: featureImage,
            } only %}

            {% if caption %}
              <div class="text-sm text-zinc-500 italic">{{ caption }}</div>
            {% endif %}
          </div>

        {% endif %}

        {% if richTextPost %}
          {% include "_includes/richTextPost" with { content: richTextPost } only %}
        {% endif %}

      </div>
    </div>
  </div>

{% endblock %}
