{% extends "_layouts/elements" %}

{% set gridLinesVariant = "outer" %}

{% block content %}

  {% set featureVideo = entry.featureVideo ?? null %}
  {% set featureImage = entry.imageCaption ?? null %}
  {% set summary = entry.summaryShort ?? null %}
  {% set liveUrl = entry.liveUrl ?? null %}
  {% set richTextPost = entry.richTextPost ?? null %}

  <div class="col-span-full grid grid-cols-subgrid">
    <div class="col-span-full pt-20 sm:px-4 sm:pt-30 lg:px-0 2xl:pt-36 lg:col-start-2 lg:col-span-10 2xl:col-start-2 2xl:col-span-9">

      {% include "_includes/breadcrumb" with {
        classes: "mb-8 sm:mb-12 2xl:mb-28",
        links: [
          {
            label: "Home",
            url: siteUrl,
          },
          {
            label: "Case Studies",
            url: "/work",
          },
          {
            label: entry.title,
            url: "",
          }
        ]
      } only %}

      <h1 class="heading1 font-medium mb-10 2xl:mb-16">{{ entry.title }}</h1>

      <div class="space-y-12 2xl:space-y-18">

        {% if featureVideo and featureVideo.videoCaption and featureVideo.videoCaption.videoAsset.one() %}

          {% set caption = featureVideo.videoCaption.text ?? null %}

          <div class="space-y-4">
            {% include "_includes/featureVideo.twig" with {
              featureVideo: featureVideo,
              title: entry.title,
            } only %}

            {% if caption %}
              <div class="text-sm text-zinc-500 italic">{{ caption }}</div>
            {% endif %}
          </div>

        {% elseif featureImage and featureImage.imageAsset.one() %}

          <div class="space-y-4">
            {% include "_includes/featureImage.twig" with {
              featureImage: featureImage,
            } only %}

            {% if caption %}
              <div class="text-sm text-zinc-500 italic">{{ caption }}</div>
            {% endif %}
          </div>

        {% endif %}

        {% if richTextPost %}
          {% include "_includes/richTextPost" with { content: richTextPost } only %}
        {% endif %}

      </div>

    </div>
  </div>

{% endblock %}
