{% extends "_layouts/elements" %}

{% set gridLinesVariant = "outer" %}

{% block content %}

  {% set featureVideo = entry.featureVideo ?? null %}
  {% set featureImage = entry.imageCaption ?? null %}
  {% set summary = entry.summaryShort ?? null %}
  {% set liveUrl = entry.liveUrl ?? null %}
  {% set richTextPost = entry.richTextPost ?? null %}

  <div class="col-span-full grid grid-cols-subgrid">
    <div class="col-span-full lg:col-start-2 lg:col-span-9 pt-36">
      <div class="space-y-28">
        {% include "_includes/breadcrumb" with {
          links: [
            {
              label: "Home",
              url: siteUrl,
            },
            {
              label: "Case Studies",
              url: "/work",
            },
            {
              label: entry.title,
              url: "",
            }
          ]
        } only %}

        <h1 class="heading1 font-medium mb-16">{{ entry.title }}</h1>

        {% set mediaData = null %}

        {% if featureVideo and featureVideo.videoCaption and featureVideo.videoCaption.videoAsset.one() %}

          {# Prep data for <video-player/> component #}
          {% set video = featureVideo.videoCaption.videoAsset.one() %}
          {% set boxed = featureVideo.boxed ?? false %}
          {% set poster = featureVideo.videoCaption.imageAsset.one() ?? null %}
          {% set imageTransform = { format: 'webp', mode: 'crop', width: 960, height: 576, quality: 90 } %}

          {% set isBackground = (featureVideo.videoCaption.videoMode.value ?? "playable") == "background" %}

          {% set mediaData = {
            title: entry.title,
            backdropColour: featureVideo.boxBackgroundColour.hex ?? '',
            boxed: boxed,
            dimPoster: featureVideo.videoCaption.dimPoster ?? false,
            posterImage: poster ? [{
              url: poster.getUrl(imageTransform),
              srcset: poster.getSrcset(['600w', '800w', '1250w', '1900w'], imageTransform),
            }] : [],
            video: [{
              url: video.url,
              mimeType: video.mimeType,
            }],
            videoAttributes: isBackground ? {
              autoplay: true,
              loop: true,
              muted: true,
              playsInline: true,
            } : {
              controls: true,
              muted: true,
            }
          } %}

          <video-player entry="{{ mediaData|json_encode|e('html_attr') }}"></video-player>

        {% elseif featureImage and featureImage.imageAsset.one() %}
          {% set image = featureImage.imageAsset.one() %}
          {% set imageTransform = { format: 'webp', mode: 'crop', width: 960, height: 576, quality: 90 } %}

          {% set mediaData = {
            id: entry.id,
            title: entry.title,
            backdropColour: '',
            video: [],
            cardImage: [{
              url: image.getUrl(imageTransform),
              srcset: image.getSrcset(['600w', '800w', '1250w', '1900w'], imageTransform),
            }]
          } %}
        {% endif %}


        {% if richTextPost %}
          {% include "_includes/richTextPost" with { content: richTextPost } only %}
        {% endif %}

      </div>
    </div>
  </div>

{% endblock %}
